In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')

In [2]:
train_df

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A
3,TRAIN_00003,14400000,36 months,8 years,MORTGAGE,132000000,15.09,15,부채 통합,0,325824,153108.0,0.0,0.0,C
4,TRAIN_00004,18000000,60 months,Unknown,RENT,71736000,25.39,19,주요 구매,0,228540,148956.0,0.0,0.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96289,TRAIN_96289,14400000,36 months,10+ years,MORTGAGE,210000000,9.33,33,신용 카드,0,974580,492168.0,0.0,0.0,C
96290,TRAIN_96290,28800000,60 months,10+ years,MORTGAGE,132000000,5.16,25,주택 개선,0,583728,855084.0,0.0,0.0,E
96291,TRAIN_96291,14400000,36 months,1 year,MORTGAGE,84000000,11.24,22,신용 카드,0,1489128,241236.0,0.0,0.0,A
96292,TRAIN_96292,15600000,36 months,5 years,MORTGAGE,66330000,17.30,21,부채 통합,2,1378368,818076.0,0.0,0.0,D
96293,TRAIN_96293,8640000,36 months,10+ years,RENT,50400000,11.80,14,신용 카드,0,596148,274956.0,0.0,0.0,C

In [3]:
test_df

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,TEST_00000,16800000,36 months,8 years,MORTGAGE,132000000,19.64,12,주택 개선,0,394692,146604.0,0.0,0.0
1,TEST_00001,8400000,36 months,5 years,RENT,89971200,15.84,25,부채 통합,0,0,0.0,0.0,0.0
2,TEST_00002,17280000,36 months,6 years,RENT,150000000,8.41,20,신용 카드,0,1786980,281820.0,0.0,0.0
3,TEST_00003,14400000,36 months,5 years,MORTGAGE,66000000,13.72,30,신용 카드,1,669024,281724.0,0.0,0.0
4,TEST_00004,27600000,36 months,5 years,RENT,55200000,30.50,12,신용 카드,0,1250052,614844.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64192,TEST_64192,30000000,36 months,3 years,MORTGAGE,78000000,22.08,27,부채 통합,2,1307532,763380.0,0.0,0.0
64193,TEST_64193,30000000,60 months,10+ years,MORTGAGE,109200000,12.06,26,부채 통합,0,960612,1245252.0,0.0,0.0
64194,TEST_64194,6120000,36 months,10+ years,RENT,39600000,28.80,33,부채 통합,0,131520,80880.0,0.0,0.0
64195,TEST_64195,11520000,36 months,10+ years,MORTGAGE,66000000,25.44,41,부채 통합,1,1339536,601872.0,0.0,0.0
64196,TEST_64196,6000000,36 months,9 years,RENT,180000000,9.07,10,부채 통합,0,308880,48960.0,0.0,0.0

In [4]:
print(train_df.info())
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64197 entries, 0 to 64196
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            64197 non-null  object
 1   대출금액          64197 non-null  int64
 2   대출기간          64197 non-null  object
 3   근로기간          64197 non-null  object
 4   주택소유상태        64197 non-null  object
 5   연간소득          64197 non-null  int64
 6   부채_대비_소득_비율   64197 non-null  float64
 7   총계좌수          64197 non-null  int64
 8   대출목적          64197 non-null  object
 9   최근_2년간_연체_횟수  64197 non-null  int64
 10  총상환원금         64197 non-null  int64
 11  총상환이자         64197 non-null  float64
 12  총연체금액         64197 non-null  float64
 13  연체계좌수         64197 non-null  float64
dtypes: float64(4), int64(5), object(5)
memory usage: 6.9+ MB
None

In [5]:
print(train_df.isnull().sum())
print(test_df.isnull().sum())

ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
대출등급            0
dtype: int64
ID              0
대출금액            0
대출기간            0
근로기간            0
주택소유상태          0
연간소득            0
부채_대비_소득_비율     0
총계좌수            0
대출목적            0
최근_2년간_연체_횟수    0
총상환원금           0
총상환이자           0
총연체금액           0
연체계좌수           0
dtype: int64

In [6]:
num_cols = train_df.select_dtypes('number').columns
num_cols

Index(['대출금액', '연간소득', '부채_대비_소득_비율', '총계좌수', '최근_2년간_연체_횟수', '총상환원금', '총상환이자',
       '총연체금액', '연체계좌수'],
      dtype='object')

In [7]:
cat_cols = train_df.select_dtypes('object').columns
cat_cols

Index(['ID', '대출기간', '근로기간', '주택소유상태', '대출목적', '대출등급'], dtype='object')

In [8]:
num_cols = ['대출금액', '연간소득', '부채_대비_소득_비율', '총계좌수', '최근_2년간_연체_횟수', '총상환원금', '총상환이자',
       '총연체금액', '연체계좌수']

In [9]:
cat_cols = ['대출기간', '근로기간', '주택소유상태', '대출목적']

In [10]:
lton = {val:idx for idx,val in enumerate(train_df['대출등급'].unique())}
lton

{'C': 0, 'B': 1, 'A': 2, 'D': 3, 'F': 4, 'G': 5, 'E': 6}

In [11]:
ntol = {idx:val for idx,val in enumerate(train_df['대출등급'].unique())}
ntol

{0: 'C', 1: 'B', 2: 'A', 3: 'D', 4: 'F', 5: 'G', 6: 'E'}

In [12]:
train_df['대출등급'] = train_df['대출등급'].apply(lambda x: lton[x])

In [13]:
train_df['대출금액'] = np.log(train_df['대출금액'] + 1)
train_df['연간소득'] = np.log(train_df['연간소득'] + 1)
train_df['총상환원금'] = np.log(train_df['총상환원금'] + 1)
train_df['총상환이자'] = np.log(train_df['총상환이자'] + 1)

In [14]:
test_df['대출금액'] = np.log(test_df['대출금액'] + 1)
test_df['연간소득'] = np.log(test_df['연간소득'] + 1)
test_df['총상환원금'] = np.log(test_df['총상환원금'] + 1)
test_df['총상환이자'] = np.log(test_df['총상환이자'] + 1)

In [15]:
from sklearn.metrics import f1_score

In [16]:
from sklearn.model_selection import train_test_split
train, valid = train_test_split(train_df,test_size=0.3,random_state=1000,stratify=train_df['대출등급'])

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train[num_cols])
train_scaled = scaler.transform(train[num_cols])
valid_scaled = scaler.transform(valid[num_cols])
test_scaled = scaler.transform(test_df[num_cols])

print(train_scaled.shape)
print(test_scaled.shape)
print(valid_scaled.shape)

train_scaled_df = pd.DataFrame(train_scaled,columns=train[num_cols].columns)
valid_scaled_df = pd.DataFrame(valid_scaled,columns=train[num_cols].columns)
test_scaled_df = pd.DataFrame(test_scaled,columns=test_df[num_cols].columns)
train_scaled_df

(67405, 9)
(64197, 9)
(28889, 9)

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,1.528989,1.303652,-0.166916,-0.603420,0.707177,0.399637,0.186182,-0.037766,-0.073024
1,-0.275206,0.552088,-0.222063,2.289047,-0.376071,-0.027770,0.290555,-0.037766,-0.073024
2,-0.348320,-0.613092,-0.218034,-1.264556,-0.376071,-0.302806,0.099889,-0.037766,-0.073024
3,1.236815,0.875563,-0.012807,0.553567,-0.376071,0.595836,0.552591,-0.037766,-0.073024
4,-0.205495,-0.905270,0.304225,-0.438136,-0.376071,0.469199,0.308962,-0.037766,-0.073024
...,...,...,...,...,...,...,...,...,...
67400,-0.682708,-1.484283,0.250085,-0.190211,-0.376071,0.377263,0.134038,-0.037766,-0.073024
67401,1.297988,1.085331,-0.002735,0.636208,1.790425,0.569024,0.369763,-0.037766,-0.073024
67402,1.528989,0.446140,-0.009030,-1.181914,-0.376071,0.819853,0.789218,-0.037766,-0.073024
67403,1.297988,1.085331,-0.093135,3.198108,0.707177,0.495379,0.582742,-0.037766,-0.073024
67404,-1.621776,-1.423504,0.171771,0.057715,-0.376071,-0.085822,-0.027505,-0.037766,-0.073024

In [18]:
test_scaled_df

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,0.155895,0.924048,0.006331,-1.099272,-0.376071,0.095255,0.001829,-0.037766,-0.073024
1,-0.882810,0.213546,-0.089358,-0.024927,-0.376071,-3.961631,-3.885058,-0.037766,-0.073024
2,0.198110,1.160998,-0.276455,-0.438136,-0.376071,0.570707,0.215372,-0.037766,-0.073024
3,-0.075105,-0.360759,-0.142742,0.388283,0.707177,0.261397,0.215260,-0.037766,-0.073024
4,0.899823,-0.691980,0.279799,-1.099272,-0.376071,0.458205,0.470271,-0.037766,-0.073024
...,...,...,...,...,...,...,...,...,...
64192,1.024773,-0.051110,0.067773,0.140357,1.790425,0.472358,0.540976,-0.037766,-0.073024
64193,1.024773,0.572569,-0.184543,0.057715,-0.376071,0.375287,0.700868,-0.037766,-0.073024
64194,-1.357350,-1.307618,0.236991,0.636208,-0.376071,-0.250727,-0.192512,-0.037766,-0.073024
64195,-0.409493,-0.360759,0.152382,1.297344,0.707177,0.479971,0.463303,-0.037766,-0.073024
64196,-1.387025,1.498946,-0.259835,-1.264556,-0.376071,0.018074,-0.356527,-0.037766,-0.073024

In [19]:
valid_scaled_df

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,0.429110,-0.732719,0.332931,-0.851346,0.707177,0.294152,0.453644,-0.037766,-0.073024
1,-0.682708,0.214139,-0.283757,-0.355494,-0.376071,0.266483,0.194132,-0.037766,-0.073024
2,0.532499,1.233697,-0.293326,-1.347197,-0.376071,0.414146,0.158312,-0.037766,-0.073024
3,0.259283,0.333767,-0.251274,0.553567,-0.376071,0.119757,0.007029,-0.037766,-0.073024
4,0.613520,0.446140,-0.157851,-0.851346,-0.376071,0.555249,0.344647,-0.037766,-0.073024
...,...,...,...,...,...,...,...,...,...
28884,-2.760118,-1.484283,0.044606,-0.520778,-0.376071,-0.301555,-0.382434,-0.037766,-0.073024
28885,-0.013932,0.652306,0.296922,0.222999,-0.376071,0.288815,0.132715,-0.037766,-0.073024
28886,-0.664093,0.855389,-0.272678,-0.520778,-0.376071,0.156807,-0.046447,-0.037766,-0.073024
28887,-1.184117,-0.951040,0.233214,-0.768704,-0.376071,-0.180360,-0.340204,-0.037766,-0.073024
28888,1.528989,0.632691,-0.041010,0.636208,1.790425,0.330268,0.726235,-0.037766,-0.073024

In [20]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
encoder.fit(train[cat_cols])
train_encoded = encoder.transform(train[cat_cols])
test_encoded = encoder.transform(test_df[cat_cols])
valid_encoded = encoder.transform(valid[cat_cols])
print(train_encoded.shape)
print(test_encoded.shape)
print(valid_encoded.shape)

(67405, 33)
(64197, 33)
(28889, 33)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [21]:
train_encoded_df = pd.DataFrame(train_encoded,columns=encoder.get_feature_names_out())
test_encoded_df = pd.DataFrame(test_encoded,columns=encoder.get_feature_names_out())
valid_encoded_df = pd.DataFrame(valid_encoded,columns=encoder.get_feature_names_out())
train_encoded_df

,대출기간_ 36 months,대출기간_ 60 months,근로기간_1 year,근로기간_1 years,근로기간_10+ years,근로기간_10+years,근로기간_2 years,근로기간_3,근로기간_3 years,근로기간_4 years,...,대출목적_소규모 사업,대출목적_신용 카드,대출목적_의료,대출목적_이사,대출목적_자동차,대출목적_재생 에너지,대출목적_주요 구매,대출목적_주택,대출목적_주택 개선,대출목적_휴가
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67400,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67401,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67402,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67403,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67404,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
train_encoded_df.reset_index(drop=True)
train_scaled_df.reset_index(drop=True)
test_encoded_df.reset_index(drop=True)
test_scaled_df.reset_index(drop=True)
valid_encoded_df.reset_index(drop=True)
valid_scaled_df.reset_index(drop=True)

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,0.429110,-0.732719,0.332931,-0.851346,0.707177,0.294152,0.453644,-0.037766,-0.073024
1,-0.682708,0.214139,-0.283757,-0.355494,-0.376071,0.266483,0.194132,-0.037766,-0.073024
2,0.532499,1.233697,-0.293326,-1.347197,-0.376071,0.414146,0.158312,-0.037766,-0.073024
3,0.259283,0.333767,-0.251274,0.553567,-0.376071,0.119757,0.007029,-0.037766,-0.073024
4,0.613520,0.446140,-0.157851,-0.851346,-0.376071,0.555249,0.344647,-0.037766,-0.073024
...,...,...,...,...,...,...,...,...,...
28884,-2.760118,-1.484283,0.044606,-0.520778,-0.376071,-0.301555,-0.382434,-0.037766,-0.073024
28885,-0.013932,0.652306,0.296922,0.222999,-0.376071,0.288815,0.132715,-0.037766,-0.073024
28886,-0.664093,0.855389,-0.272678,-0.520778,-0.376071,0.156807,-0.046447,-0.037766,-0.073024
28887,-1.184117,-0.951040,0.233214,-0.768704,-0.376071,-0.180360,-0.340204,-0.037766,-0.073024
28888,1.528989,0.632691,-0.041010,0.636208,1.790425,0.330268,0.726235,-0.037766,-0.073024

In [23]:
x_train = np.concatenate([train_encoded_df,train_scaled_df],axis=1)
x_test = np.concatenate([test_encoded_df,test_scaled_df],axis=1)
x_valid = np.concatenate([valid_encoded_df,valid_scaled_df],axis=1)
print(x_train.shape)
print(x_test.shape)
print(x_valid.shape)

(67405, 42)
(64197, 42)
(28889, 42)

In [24]:
y_train = np.array(train['대출등급']).reshape(-1,1)
y_valid = np.array(valid['대출등급']).reshape(-1,1)

In [25]:
import tensorflow as tf
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.models import Sequential

WARNING:tensorflow:From C:\Users\Owner\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [28]:
num_classes = len(ntol)

model = Sequential()
model.add(Dense(1024, activation='relu',input_shape=(42,)))
model.add(Dropout(0.5))
model.add(Dense(512, activation='relu',input_shape=(42,)))
model.add(Dropout(0.5))
model.add(Dense(256,activation='relu',input_shape=(42,)))
model.add(Dropout(0.5))
model.add(Dense(num_classes,activation='softmax'))


def macro_f1_score(y_true, y_pred):
    f1_scores = []
    for i in range(num_classes):
        y_t = (y_true == i)
        y_p = (y_pred == i)
        k = f1_score(y_t,y_p)
        f1_scores.append(k)
    return np.mean(f1_scores)
        
def custom_metric(y_true,y_pred):
    f1 = tf.py_function(func = macro_f1_score,inp=[y_true,y_pred],Tout=tf.float32)
    return f1
    
    
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
             loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=False),
             metrics=[tf.keras.metrics.SparseCategoricalAccuracy(),
             custom_metric])

In [29]:
history = model.fit(x = x_train, y = y_train, validation_data=(x_valid,y_valid), batch_size=128, epochs=10)

Epoch 1/10

InvalidArgumentError: Graph execution error:

Detected at node EagerPyFunc defined at (most recent call last):
  File "C:\Users\Owner\anaconda3\lib\runpy.py", line 196, in _run_module_as_main

  File "C:\Users\Owner\anaconda3\lib\runpy.py", line 86, in _run_code

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>

  File "C:\Users\Owner\anaconda3\lib\site-packages\traitlets\config\application.py", line 992, in launch_instance

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 711, in start

  File "C:\Users\Owner\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start

  File "C:\Users\Owner\anaconda3\lib\asyncio\base_events.py", line 603, in run_forever

  File "C:\Users\Owner\anaconda3\lib\asyncio\base_events.py", line 1906, in _run_once

  File "C:\Users\Owner\anaconda3\lib\asyncio\events.py", line 80, in _run

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute

  File "C:\Users\Owner\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell

  File "C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_cell

  File "C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3016, in _run_cell

  File "C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner

  File "C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3221, in run_cell_async

  File "C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3400, in run_ast_nodes

  File "C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code

  File "C:\Users\Owner\AppData\Local\Temp\ipykernel_6020\4271386700.py", line 1, in <module>

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\utils\traceback_utils.py", line 65, in error_handler

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1807, in fit

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1401, in train_function

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1384, in step_function

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1373, in run_step

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1155, in train_step

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\training.py", line 1249, in compute_metrics

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\engine\compile_utils.py", line 620, in update_state

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\utils\metrics_utils.py", line 77, in decorated

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\metrics\base_metric.py", line 140, in update_state_fn

  File "C:\Users\Owner\anaconda3\lib\site-packages\keras\src\metrics\base_metric.py", line 723, in update_state

  File "C:\Users\Owner\AppData\Local\Temp\ipykernel_6020\698308229.py", line 23, in custom_metric

ValueError: Classification metrics can't handle a mix of binary and multilabel-indicator targets
Traceback (most recent call last):

  File "C:\Users\Owner\anaconda3\lib\site-packages\tensorflow\python\ops\script_ops.py", line 268, in __call__
    return func(device, token, args)

  File "C:\Users\Owner\anaconda3\lib\site-packages\tensorflow\python\ops\script_ops.py", line 146, in __call__
    outputs = self._call(device, args)

  File "C:\Users\Owner\anaconda3\lib\site-packages\tensorflow\python\ops\script_ops.py", line 153, in _call
    ret = self._func(*args)

  File "C:\Users\Owner\anaconda3\lib\site-packages\tensorflow\python\autograph\impl\api.py", line 643, in wrapper
    return func(*args, **kwargs)

  File "C:\Users\Owner\AppData\Local\Temp\ipykernel_6020\698308229.py", line 18, in macro_f1_score
    k = f1_score(y_t,y_p)

  File "C:\Users\Owner\anaconda3\lib\site-packages\sklearn\metrics\_classification.py", line 1146, in f1_score
    return fbeta_score(

  File "C:\Users\Owner\anaconda3\lib\site-packages\sklearn\metrics\_classification.py", line 1287, in fbeta_score
    _, _, f, _ = precision_recall_fscore_support(

  File "C:\Users\Owner\anaconda3\lib\site-packages\sklearn\metrics\_classification.py", line 1573, in precision_recall_fscore_support
    labels = _check_set_wise_labels(y_true, y_pred, average, labels, pos_label)

  File "C:\Users\Owner\anaconda3\lib\site-packages\sklearn\metrics\_classification.py", line 1374, in _check_set_wise_labels
    y_type, y_true, y_pred = _check_targets(y_true, y_pred)

  File "C:\Users\Owner\anaconda3\lib\site-packages\sklearn\metrics\_classification.py", line 95, in _check_targets
    raise ValueError(

ValueError: Classification metrics can't handle a mix of binary and multilabel-indicator targets


	 [[{{node EagerPyFunc}}]] [Op:__inference_train_function_2694]

In [ ]:
y_pred_val = model.predict(x_valid,y_valid)

In [ ]:
def macro_f1_score(y_true, y_pred,num_classes):
    y_pred = np.argmax(y_pred, 1)
    f1_scores = []
    for i in range(num_classes):
        y_t = (y_true == i)
        y_p = (y_pred == i)
        k = f1_score(y_t,y_p)
        f1_scores.append(k)
    return np.mean(f1_scores)

In [ ]:
macro_f1 = macro_f1_score(y_true, y_pred, num_classes)
print("Macro F1 Score:", macro_f1)

In [ ]:
pred = model.predict(test_x)

pred = np.argmax(pred, 1)

sample_submission["대출등급"] = [ntol[i] for i in pred]

sample_submission

sample_submission.to_csv('3rd_try', index=False)